
.cardRecipe {    
    background-color: #040404;
    box-shadow: 1px 1px 2px 1px rgb(11, 11, 11);
    border-radius: 3px;
    width: 250px;
    height: 200px; 
    border: 3px rgba(243, 239, 239, 0.781);
}