
.cardRecipe {    
    box-shadow: 1px 1px 2px 1px rgb(11, 11, 11);
    border-radius: 5px;
    width: 300px;
    height: 250px; 
    border: #9b9999 solid 10px;
    text-shadow: 6px 4px 5px rgba(15, 13, 13, 0.04);
}