.fondoDetails {
    background-color: gray;
    color:white
}

.detailImage {
    width: 350x;
    height: 300px; 
}

/* .fondoLoading{
    background-image: url('../images/mae-mu-Pvclb-iHHYY-unsplash.jpg');
} */