.fondoHome{

    background-image: url('../images/rae-wallis-aFaVy2_tBCo-unsplash.jpg');
    min-height: 100vh;
    max-height: 100wh;
    background-position: 0cm;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: initial;
} 

.recipeCreate{
    /* margin-right: 2rem;
    float: right;
    font-size: large;
    font-weight: bold;
    color: rgb(11, 7, 7);
    text-decoration: none;
    opacity: 0.7; 
}

.allRecipes{
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, 270px); */
    /* gap: 50px;
    padding: 40px;
    margin-block: 5px; */
    /* justify-content: center;
    color: rgb(18, 18, 18); */
    /* transition: margin-left 0.3s 0.1s; */
}

.recipesBack{
    /* background-color: transparent;
    color: rgb(250, 246, 246);
    font-weight: bold;
    font-size: small;
    justify-content: center;
    cursor: pointer;
    
    outline: none;
    border: none;
    margin-left: 5rem;
    opacity: 0.9; */

}


.navbar{
    background-color: transparent;
    height: 15rem;
justify-content:first baseline;
}  

.navbarSearch{
    padding: 2rem;
    height: 15px;
    margin-left: -55rem;
    
}

.totalFilters{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1px;
    margin-bottom: 1rem;
} 
.Pagination{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 4rem;
    padding: 1px;
}

.buttonRecipe{
    cursor: pointer;
    float: left;
    justify-content: left;
    margin-left: 18rem;
    padding: 1px;
}


.cardgrid{
    border: #545353b4 solid 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    color: rgb(243, 244, 244);
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 10rem;
    justify-content: flex-start; 
    display: block; 
    padding: 5px;
    flex-wrap: nowrap;
    background-color: transparent; 
    width:max-content;
    height: min-content;    
}

.recipeFilter{
    color: beige;
}

