.pagination{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.paginationBotton {
    background-color: transparent;
    outline: none;
    border: 1px solid;
    font-weight: bold;
    color: rgb(243, 239, 238);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem;  
    cursor: pointer;
}

