.pagination{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    margin-bottom: 2rem;
    
}

.paginationBotton {
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: bold;
    color: rgb(246, 244, 244);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 2rem;   
}

